body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.app {
  background: white;
  color: black;
  width: 320px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}

input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

button {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}

button.main {
  background: #667eea;
  color: white;
}

select {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

.wheel-container {
  position: relative;
  width: 300px;
  margin: 20px auto;
}

/* ☚ FRECCIA A DESTRA */
.pointer {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: red;
}